In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/Users/felita/Library/Mobile Documents/com~apple~CloudDocs/Documents/Programming/Jupyter/0. CNAM Projects/Projet_Inegalites/Data/taux-prevalence-parkinson.csv', sep= ';')

In [3]:
data

,Géodes - Santé publique France,,.1
0,Référentiel géographique : France par département,,
1,Code,Libellé,Taux de prévalence standardisé de la maladie d...
2,01,Ain,2.56
3,02,Aisne,2.35
4,03,Allier,2.4
...,...,...,...
101,974,Réunion,1.98
102,975,Miquelon-Langlade et Saint Pierre,NaN
103,976,Mayotte,NaN
104,977,Saint-Barthélemy,NaN
105,978,Saint-Martin,NaN

In [4]:
data = data[2:]
data.columns = ['Code', 'Département', 'Taux de prévalence standardisé Parkinson']

In [5]:
data

,Code,Département,Taux de prévalence standardisé Parkinson
2,01,Ain,2.56
3,02,Aisne,2.35
4,03,Allier,2.4
5,04,Alpes-de-Haute-Provence,2.29
6,05,Hautes-Alpes,2.59
...,...,...,...
101,974,Réunion,1.98
102,975,Miquelon-Langlade et Saint Pierre,NaN
103,976,Mayotte,NaN
104,977,Saint-Barthélemy,NaN
105,978,Saint-Martin,NaN